body,
div,
p,
a {
  margin: 0;
  box-sizing: content-box;
  padding: 0;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
  
}
p{
    
}
.welcome{
    background-color: rgba(255, 255, 255, 0.438);
    margin: 0 auto;;
    height: 100px;
    display: flex;
  	flex-direction: row;
  	align-items: center;
  
 
}
.center_title{
	margin:0 auto;
    height:100px;
    width:100px;
    align-items:center;
  
}


.center_title img{
	width:100px;
	height:100px;
}


.middle{
    background:rgb(199, 237, 204);
    width: 100%;
    height: 500px;
   	margin:0;
   	display:flex;
  	flex-direction: row;
    
}
.mycenter{
	width:400px;
	height:400px;
  	margin-left:20px;
  	
  	
  	background-color:#FAC240;
  	border-bottom-left-radius: 25px;
    border-bottom-right-radius:25px ;
  	text-align: center;
  	align-items: center;
    box-shadow: darkgrey 0px 10px 30px 5px ;
  
}
.mycenter img{
	margin-top:10px;
	width:80px;
	height:80px;
}
.mycenter-name{
	height:30px;
	text-align:center;
}

.choose{
	padding-top:30px;
  	width: auto;
  	display: flex;
  	flex-direction:column;
  	
  	text-align: center;
}

.prac{
  text-align: center;
 
  
}

.pracBtn{
font-size: 15px;
width: 150px;
height: 50px;
color: rgb(255, 255, 255);
background-color: rgba(43, 172, 43, 0.65);
outline: none;
border: 0;
border-radius: 25px;
cursor: pointer;
margin-bottom: 10px;
}
.pracBtn:focus {
background-color: aquamarine;
}

.findhistory{
	
  width: auto;
 
  height: auto;
  
align-items: center;
margin-bottom: 10px;
}

.HistoryBtn {
  color: rgb(255, 255, 255);
  background-color: rgba(43, 172, 43, 0.65);
  outline: none;
  border: 0;
  font-size: 15px;
  height: 50px;
  border-radius: 25px;
  width: 150px;
  cursor: pointer;
}
.HistoryBtn:focus {
  background-color: aquamarine;
}
.rule{
  margin: 0 auto;
  text-align: left;
  padding: 30px;
  
  font-size: 15px;
}
.rule .rule-title{
	font-weight:bolder;
	font-size:30px;
}
.rule .rule-con{
	padding-top:20px;
	font-size:20px;
}